@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #303030;
}

main{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
h1{
    color: #fff;
}

main section{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.social-icons{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateX(-100%);
}
.social-icons li{
text-decoration: none;
position: relative;
height: 30px;
width: 30px;
display: grid;
place-items: center;
border-radius: 6px;
margin: 2px;
}
.social-icons li:nth-child(1){
    background-color: #e60023;
}
.social-icons li:nth-child(1) span{
color: #e60023;
}
.social-icons li:nth-child(2){
    background-color: #0e76a8;
}
.social-icons li:nth-child(2) span{
    color: #0e76a8;
}
.social-icons li:nth-child(3){
    background-color: #8e36ff;
}
.social-icons li:nth-child(3) span{
    color: #8e36ff;
}
.social-icons li:nth-child(4){
    background-color: #1da1f2;
}
.social-icons li:nth-child(4) span{
    color: #1da1f2;
}
.social-icons a i {
    color: #fff;
}
.social-icons a .tooltip{
    position: absolute;
    left: 55px;
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    transform: translateY(-25px);
    opacity: 0;
}
.social-icons a:hover .tooltip{
    opacity: 1;
    transform: translateY(0);
}

.social-icons a .tooltip::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    left: -5px;
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff;
}
.close-btn{
    display: grid;
    place-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    background-color: #8e36ff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.close-btn i {
    animation:  5s close linear infinite;
}

@keyframes close{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.close-btn.open ~ .social-icons{
    transform: translateX(0);
}
.close-btn.open{
    background-color: #de0611;
}